@{
    ViewData["Title"] = "401";
    Layout = "/Views/Shared/_Layout_Dialog.cshtml";
}

<div class="jumbotron">
    <h1 style="color:red">401</h1>
    <p class="text-primary">You have no permission to access this page!</p>

    <div class="error-desc" style="margin-top:20px">
        <p> <a class="btn btn-primary" href="javascript:history.back()">Back</a></p>
    </div>
</div>