
@model ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

    <div style="padding-top:10%">
        <div style="text-align:center">
            <img src="/img/logo.png" style="height:58px;width:auto;">

        </div>
        <div style="text-align:center">
            <h2>
                Reset your password
            </h2>
        </div>
        <div class="middle-box   animated fadeInDown " style="padding-top:20px">
            <div class="ibox-content" style="padding:55px 35px 85px 35px;">
                <form role="form" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        <p>  Enter your user account's verified email address and we will send you a password reset link.</p>
                    </div>


                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
                    </div>
                    <div class="form-footer" style="margin-top:30px">
                        <a href="/account/login" class="btn btn-default btn-block">Back to sign in</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
