@{
    Layout = "_Layout_Login";
}

<div class="jumbotron">
    <h1>Lockout</h1>
    <p>  your account has been locked，please contact administartor.</p>
    <p><a class="btn btn-primary btn-lg" href="/account/login" role="button">Try again</a></p>
</div>