<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YSharp</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/plugins/jqGrid/ui.jqgrid.css" rel="stylesheet">

    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

    <!-- Text spinners style -->
    <link href="/css/plugins/textSpinners/spinners.css" rel="stylesheet">

    <!-- datepicker style -->
    <link rel="stylesheet" href="~/css/plugins/datepicker/datepicker3.css" />
    <!-- datetimepicker style -->
    <link rel="stylesheet" href="~/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css" />

    <link href="/css/plugins/dualListbox/bootstrap-duallistbox.min.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script src="/js/jquery.2.0.3.min.js"></script>
</head>

<body style="background-color:transparent;overflow-y:auto">
    @RenderBody()
    @RenderSection("Scripts", required: false)

    <script src="/js/page.js"></script>

    <!-- moment scripts -->

    <script type="text/javascript" src="~/js/plugins/moment/moment.min.js"></script>

    <!-- Mainly scripts -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Data picker -->
    <script src="/js/plugins/datepicker/bootstrap-datepicker.js"></script>

    <!-- Flot -->
    <script src="/js/plugins/flot/jquery.flot.js"></script>
    <script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="/js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <!-- jQuery UI -->
    <script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Sparkline -->
    <script src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="/js/demo/sparkline-demo.js"></script>

    <!-- ChartJS-->
    <script src="/js/plugins/chartJs/Chart.min.js"></script>

    <!-- Toastr -->
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <script src="/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>

    <!-- Jasny -->
    <script src="/js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <!-- DataTme picker -->

    <script type="text/javascript" src="~/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>

    <!-- Dual Listbox -->
    <script src="/js/plugins/dualListbox/jquery.bootstrap-duallistbox.js"></script>
    <!-- Toastr script -->
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

</body>
</html>
