<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>YSharp</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/plugins/jqGrid/ui.jqgrid.css" rel="stylesheet">

    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

    <!-- Text spinners style -->
    <link href="/css/plugins/textSpinners/spinners.css" rel="stylesheet">
    <!-- select2 style -->
    <link href="/css/plugins/select2/select2.css" rel="stylesheet">

    <!-- datepicker style -->
    <link rel="stylesheet" href="~/css/plugins/datepicker/datepicker3.css" />
    <!-- datetimepicker style -->
    <link rel="stylesheet" href="~/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css" />

    <link href="/css/plugins/dualListbox/bootstrap-duallistbox.min.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <script src="/js/jquery.2.0.3.min.js"></script>
</head>

<body class="fixed-sidebar pace-done" style="overflow-y:auto">
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                <div class="navbar-logo visible-md visible-lg visible-md gray-bg">
                    <a href="/">
                        <img src="/img/logo.png" style="height:58px;width:auto;">
                    </a>
                </div>
                <div class="sidebar-collapse" style="overflow: hidden; width: auto; height: 100%;">
                    <partial name="Partial/_LeftMenuPartial" />
                </div>
                <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 849.443px;"></div>
                <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.9; z-index: 90; right: 1px;"></div>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg" style="overflow:hidden">
            <nav class="navbar" role="navigation" style="margin-bottom: 0" id="navVue">

                <div style="float: left;">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right" style="float:right">
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="true">
                            <span class="text-muted text-xs block"><i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight">
                            <li>
                                <a href="/Account/Profile">
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="/Account/ChangePassword">
                                    Change Password
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm"></form>
                                <a href="javascript: document.getElementById('logoutForm').submit()">
                                    Logout
                                </a>

                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <partial name="Partial/_ToolBarPartial" />
            @RenderBody()
        </div>
    </div>
    <div id="modal-window" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; ">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content animated fadeIn">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5></h5>
                        <div class="ibox-tools">
                            <button id="close-btn" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="spiner-example">
                            <div class="sk-spinner sk-spinner-rotating-plane"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/js/page.js"></script>

    <!-- moment scripts -->

    <script type="text/javascript" src="~/js/plugins/moment/moment.min.js"></script>

    <!-- Mainly scripts -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Data picker -->
    <script src="/js/plugins/datepicker/bootstrap-datepicker.js"></script>

    <!-- Flot -->
    <script src="/js/plugins/flot/jquery.flot.js"></script>
    <script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="/js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <!-- jQuery UI -->
    <script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- Sparkline -->
    <script src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="/js/demo/sparkline-demo.js"></script>

    <!-- ChartJS-->
    <script src="/js/plugins/chartJs/Chart.min.js"></script>

    <!-- Toastr -->
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <script src="/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>

    <!-- Jasny -->
    <script src="/js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <!-- DataTme picker -->

    <script type="text/javascript" src="~/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <!-- Select2 -->
    <script src="/js/plugins/select2/select2.full.min.js"></script>
    <!-- Dual Listbox -->
    <script src="/js/plugins/dualListbox/jquery.bootstrap-duallistbox.js"></script>
    <!-- Toastr script -->
    <script src="/js/plugins/toastr/toastr.min.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="/js/vue.js"></script>
    <script src="/js/vue-resource@1.5.1.js"></script>
    <!-- Bootstrap DateTimePicker VUE 实现 -->
    <script src="/js/vue-bootstrap-datetimepicker@5.js"></script>

    <script>
        toastr.options = {
            closeButton: true,
            debug: false,
            progressBar: true,
            preventDuplicates: false,
            positionClass: 'toast-top-right',
        };
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
